$main-color: rgb(255, 255, 255);
$dark-orange:rgba(0, 8, 77, 0.382);
$black-color: rgb(24, 25, 26);
$gray-color: #fcb574;
$gray-background: rgb(226, 226, 226);
$orange-color: rgba(234, 96, 16, 0.953);