$main-color: rgb(255, 255, 255);
$orange-color: #eb6111f3;
$dark-orange:rgba(0, 8, 77, 0.382);
$black-color: rgb(24, 25, 26);
$gray-color: rgb(252, 181, 116);
$gray-background: rgb(226, 226, 226);