@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@500&display=swap');

$clicker: 'Clicker Script', sans-serif;
$roboto: 'Roboto', cursive;
$montserrat: 'Montserrat', sans-serif;
