@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:wght@300;400;500;600;800&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

$clicker: 'Clicker Script', sans-serif;
$roboto: 'Roboto', cursive;
$montserrat: 'Montserrat', sans-serif;
$font-nunito: 'Nunito', sans-serif;
