@import "../styles/colors";
@import "../styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrap {
  min-height: 100vh;
  font-family: $montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgb(129, 128, 128);
  background: silver;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  max-width: 400px;
  height: fit-content;
  padding: 1.4rem 3rem;
  display: flex;
  flex-direction: column;
  // background: $gray-background;
  // box-shadow: rgba(0, 0, 0, 0.904) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.911) 0px -3px 0px inset;
  
  border-radius: 0px;
  background: $orange-color;
  box-shadow: 5px 5px 21px #5a5a5a, -5px -5px 21px #ffffff;
  
  align-items: center;
  border-radius: 10px;
}
.center h1 {
  text-align: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid $main-color;
  margin-bottom: 0.6rem;
  color: $main-color;
}
.center form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form .txt_field {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  border-bottom: 2px solid $main-color;
  margin: 1.2rem 3rem;
  color: $main-color;
}

.txt_field input {
  font-family: $montserrat;
  width: 100%;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: $main-color;
}

.pass {
  padding-bottom: 0.8rem;
  color: $main-color;
}

.buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.buttons input {
  padding: 10px;
  margin-top: 10px;
  height: 100%;
  width: 50%;
  outline: none;
  color: $main-color;
  font-size: 18px;
  font-weight: 400;
  border-radius: 1px;
  letter-spacing: 1px;
  border: solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $main-color; 
  background-color: transparent;
}

.txt_field span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: $main-color;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: silver;
  font-weight: bold;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass:hover {
  color: $main-color;
}

input[type="submit"]:hover {
  border-color: $main-color;
  transition: 0.5s;
  background: $main-color;
  color: $black-color;
  cursor: pointer;
}
