@import "../styles//fonts";
@import "../styles/colors";

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  // outline: none;
  // text-decoration: none;
}

.wrap {
  margin: auto;
  display: flex;
}

.sidebar {
  width: 100px;
  height: 100vh;
  background: #fff;
}


.sidebar ul {
  margin-top: 50px;
 
}
.sidebar ul li {
  list-style: none;
  text-align: center;
} 

.sidebar ul li .fas {
  margin: 20px;
  font-size: 22px;
  cursor: pointer;
  color: rgb(83, 82, 82);
}

.sidebar li:hover, li.active {
    border-right: 3px solid rgb(83, 82, 82);
}

/* Main Body */

.head {
  display: flex;
  padding: 20px 30px;
  color: $main-color;
}

.head-title span{
  font-size: 20px;
  color: $main-color;
}

.head-search {
  width: 400px;
  margin-left: 70%;
}

input {
  border: none;
  outline: none;
  padding: 7px 13px;
  border-radius: 15px;
}

// Card Board 
.card-board {
  display: flex;
  padding: 15px 40px;
}

.card {
  width: 230px;
  height: 100px;
  padding: 20px;
  background: $main-color;
  margin-right: 20px;
  border-radius: 10px;
}

.card-icon {
  display: flex;
}
.card-icon .fas {
  margin: 15px 0;
  cursor: pointer;
  font-size: 20px;
  margin-right: 12.5rem;
  color: rgb(83, 82, 82);
}

.card span {
  font-size: 13px;
  color: rgb(151, 151, 151);
}