@import './colors';

*::before {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $main-color;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 8vh;
    background: $orange-color;
}

.nav_brand {
    text-transform: uppercase;
    font-weight: bold;

}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_toggler div {
    width: 2.0rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: $main-color;
}

.nav_toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav_toggler {
        display: block;
    }
    .nav_menu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: $orange-color;
        flex-direction: column;
        transform: translateX(100%);

    }
}

.nav_toggler {
    transform: translateX(0);
}