@import "./colors";
@import "./fonts";
@import "./mixins";

.homepage {
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(8, 8, 8, 0.7)),
    url("../assets/office-entrance.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 92vh;
  align-items: center;
  justify-content: center;
  font-family: $montserrat;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.caption {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 24px;
}

.logo-img {
  max-width: 700px;
  width: 60vw;
}

.button-group {
  display: flex;
  gap: 1.8rem;
}

.cta .sign-in {
  padding: 5px;
  font-family: $montserrat;
  border: 0 solid transparent;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  border: 1px solid $main-color;
  background-color: transparent;
  color: $main-color;
  font-size: 1.3em;
  //   box-shadow: 0 6px 6px rgba(207, 204, 204, 0.6);
}

.cta .sign-in:hover {
  color: $main-color;
  background-color: $orange-color;
  transition: 0.9s;
}

.cta .sign-out {
  @include sign-in;
}

.cta .sign-out:hover {
  color: $main-color;
  background-color: $orange-color;
  transition: 0.9s;
}


 /* View port for mobile */

$mobile: 480px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


.logo-img {
 @include mobile {
  max-width: 800px;
  width: 85vw;
 }
}

.caption {
  @include mobile {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
  }
}

.button-group {
  @include mobile {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  }
}
.cta .sign-in {
    @include mobile {
      margin-left: 10px;
    }  
}
