@import "./colors";
@import "./fonts";
@import "./mixins";

.homepage {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 92vh;
    align-items: center;
    justify-content: center;
    font-family: $montserrat;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.caption {
    font-weight: 400;
    letter-spacing: 1px;
}

.logo-img {
    max-width: 700px;
    width: 60vw;
}

.button-group {
    display: flex;
    gap: 1.8rem;
}

.cta .sign-in {
    color: white;
    background: $orange-color;
    font-weight: 400;
    font-family: $montserrat;
    font-size: 1.4rem;
    border: solid;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.sign-in:hover {
   @include sign-in;
}
.cta .sign-out {
    color: white;
    background: #37a9e1;
    font-weight: 400;
    font-family: $montserrat;
    font-size: 1.4rem;
    border: solid;
    padding: 1rem 2rem;
    border-radius: 50px;

}


.sign-out:hover {
   @include sign-in;
}