@import './colors';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: $orange-color;
    color: white;

}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.dashboard{
  text-decoration: none;
  color: $main-color;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
} 

.dashboard {
    border: 1px solid $main-color;
    border-radius: 5px;
}
    