@import "./colors";
@import "./fonts";

.scanqrcode {
  color: $main-color;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.qrmodule {
  max-width: 400px;
  border: 2px solid white;
  border-radius: 2.6rem;
}

.qr_result {
  font-family: $montserrat;
  border: 2px solid white;
  max-width: 400px;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  border-radius: 2.6rem;
}

.camera {
  height: 100vh;
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(8, 8, 8, 0.7));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-top: 3rem;
}