@import "./colors";
@import "./fonts";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $montserrat;
}

.body {
  color: $main-color;
  height: 100vh;
  // background: radial-gradient(circle, rgba(72,13,0,1) 24%, rgba(41,0,0,1) 90%);
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  // background: hsla(10, 100%, 6%, 0.8);

  border-radius: 0px;
  background: $orange-color;
  box-shadow: 5px 5px 21px #5a5a5a, -5px -5px 21px #ffffff;
  align-items: center;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 0 0 20px 0;
  margin-bottom: 15px;

  // margin: 0 auto;
}

.container form .user-details section {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .card-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user-details .card-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .card-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid $main-color;
  padding-left: 15px;
  font-family: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .card-box input:focus,
.user-details .card-box input:valid {
  border-color: $orange-color;
}

form .button {
  text-align: center;
  width: 70%;
  height: 45px;
  margin: 4px auto;
}

form .button input {
  padding: 5px;
  margin-top: 10px;
  height: 100%;
  width: 50%;
  outline: none;
  color: $main-color;
  font-size: 18px;
  font-weight: 400;
  border-radius: 1px;
  letter-spacing: 1px;
  border: solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $main-color;
  background-color: transparent;
}

form .button input:hover {
  color: $black-color;
  background-color: $main-color;
  transition: 0.7s;
  border: 1px solid silver;
}

.arrows div {
  color: $black-color;
  transition: 0.4s ease;
  position: absolute;

  cursor: pointer;
}

.arr {
  height: 60px;
  width: 50px;
}
.left {
  left: 17%;
}
.right {
  right: 15%;
}

.back:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 50% solid $black-color;
}

.forward:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px solid black;
}
/* View port for mobile */
$breakpoint: 584px;

@mixin breakpoint {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

.container {
  @include breakpoint {
    max-width: 100%;
  }
}

form .user-details .card-box {
  @include breakpoint {
    margin-bottom: 15px;
    width: 100%;
  }
}

.container form .user-details {
  @include breakpoint {
    max-height: 300px;
    overflow: scroll;
  }
}

.user-details::_webkit-scrollbar {
  @include breakpoint {
    width: 0;
  }
}

.arrows div {
  @include breakpoint {
    color: $black-color;
    transition: 0.4s ease;
    top: 29%;
  }
}
