@import "./colors";
@import "./fonts";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $montserrat;
}

.body {
  color: $main-color;
  height: 100vh;
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(8, 8, 8, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 100vh;
  height: 92vh;
  padding: 25px 30px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  border-radius: 0px;
  align-items: center;
  gap: 15px;
}

.container .title {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 0 0 20px 0;
  margin-bottom: 15px;
}

.container form .user-details section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

form .user-details .card-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 25px;
}

.user-details .card-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .card-box input {
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid $main-color;
  padding-left: 15px;
  font-family: 18px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .card-box input:focus,
.user-details .card-box input:valid {
  border-color: $orange-color;
}

form .button {
  text-align: center;
  width: 70%;
  height: 45px;
  margin: 4px auto;
}

form .button input {
  padding: 5px;
  margin-top: 10px;
  height: 100%;
  width: 50%;
  outline: none;
  color: $main-color;
  font-size: 18px;
  font-weight: 400;
  border-radius: 1px;
  letter-spacing: 1px;
  border: solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $main-color;
  background-color: $orange-color;
}

form .button input:hover {
  color: $black-color;
  background-color: $main-color;
  transition: 0.7s;
  border: 1px solid silver;
}

.arrows div {
  position: absolute;
  cursor: pointer;
}
.left {
  left: 5%;
}

.right {
  right: 5%;
}

.arr {
  background: $main-color;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  transition: 0.4s ease;
}
.arr:hover {
  background: $orange-color;
}

.arr div {
  position: absolute;
  height: 20px;
  width: 20px;
  border-top: 3px solid #202020;
  border-left: 3px solid #202020;
  transform: rotate(45deg);
  left: 15.5px;
  top: 20px;
}

.arr div:hover {
  border-top: solid $main-color;
  border-left: solid $main-color;
}

.right {
  transform: rotate(90deg);
}

.left {
  transform: rotate(-90deg);
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  border: 0 !important;
  background-image: none;
  background: $main-color;
  flex: 1;
  padding: 0 0.5em;
  color: $black-color;
  cursor: pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}
.selected {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: $main-color;
  overflow: hidden;
  border-radius: 0.25em;
}

.selected::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #000;
  cursor: pointer;
  pointer-events: none;
  transition: 25s all ease;
}

.selected:hover::after {
  color: $orange-color;
}

/* View port for mobile */
$breakpoint: 584px;

@mixin breakpoint {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

.container {
  @include breakpoint {
    max-width: 100%;
  }
}

form .user-details .card-box {
  @include breakpoint {
    margin-bottom: 15px;
    width: 100%;
  }
}

.container form .user-details {
  @include breakpoint {
    max-height: 300px;
    overflow: scroll;
  }
}

.user-details::_webkit-scrollbar {
  @include breakpoint {
    width: 0;
  }
}

.arrows div {
  @include breakpoint {
    color: $black-color;
    transition: 0.4s ease;
    top: 85%;
  }
}

.arr div {
  @include breakpoint {
    transform: rotate(45deg);
    left: 15.5px;
    top: 19px;
  }
}

$tab: 768px;

@mixin tab {
  @media (max-width: #{$tab}) {
    @content;
  }
}
