@import "./colors";
@import "./fonts";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.body {
  color: #ccc;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $montserrat;
  text-decoration: none;
  // background: white;

  .container {
    font-family: $montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10vh 4vw;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
  }
}

.container .title {
  font-size: 25px;
  position: relative;
  margin-bottom: 15px;


  // margin: 0 auto;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
  // background-color:rgb(207, 159, 159);
}

.user-details .input-box .details {
  display: block;
  // font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  font-family: $montserrat;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
}

.user-details .input-box input:focus,
.user-details .input-box .input-valid {
  border-color: rgb(207, 159, 159);
}

form .button {
  width: 70%;
  height: 45px;
  margin: 45px auto;
}

form input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: $main-color;
  letter-spacing: 1px;
  background: hsla(10, 100%, 6%, 0.8);}

form .button input:hover {
  background: $main-color;
  color: $black-color;
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: linear ease-out;
}

form #submit-button {
  background-color: $orange-color;
  border-radius: 10px;
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 600;
}

.scan {
  width: 5rem;
}

#host-area {

}
